
    [data-md-color-accent=black] .md-typeset a:active, [data-md-color-accent=black] .md-typeset a:hover {
      color: rgb(250, 0, 0)!important;
  }
  
  .md-typeset a {
      color: 4235e1!important;
  }
  
  .md-typeset h2 {
      border-top: 1px rgb(224, 224, 224) solid!important;
      padding-top: 35px!important;
  }

  [data-md-color-accent=#4235e1] .md-nav__link:focus, [data-md-color-accent=#4235e1] .md-nav__link:hover {
    color: #4235e1!important;
  }

  html .md-footer-meta.md-typeset a {
color: white!important
}